@mixin mobile() {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin tablet() {
    @media (min-width: 701px) and (max-width: 1120px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 1121px) {
        @content;
    }
}

@mixin bgImage($backgroundColor, $img: "/img/pathway.jpeg", $opacity: .9) {

    background-image: url($img);
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    isolation: isolate;

    // border-radius: 12px;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        opacity: $opacity;
        inset: 0;
        background: $backgroundColor;
        border-radius: 12px;
    }

}

@mixin MinorButton($backgroundColour) {

    color: #FFF;
    background-color: $backgroundColour;
    border: none;

    max-width: 145px;
    max-height: 40px;

    min-width: 145px;
    min-height: 40px;

    border-radius: 12px;

    margin: 5px;
    
    cursor: pointer;

    p {
        font-size: 17px;
    }

    .buttonContents {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .glyph {
        margin: 5px;
    }

}