// Business card styles

@import "/styles/mixins";

.cardBody {

    display: flex;
    gap: 10px;
    align-items: center;
    
    background-color: white;
    border-radius: 12px;
    padding: .8rem;
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: .25);

    margin: 10px;

    @include mobile() {
        // flex-direction: column;
    }

    .buttonContainer {

        @include mobile {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }
    }

    .innerContainer {
        display: flex;

        height: 100%;
        width: 100%;

        flex-direction: column;
        justify-content: space-between;
    }

    .tag {
        max-width: fit-content;
        padding: 2px 10px;
        color: white;
        border-radius: 12px;
    }

    .websiteButton {
        @include MinorButton(#073E4F);
    
        &:hover {
            background-color: #075167;
        }
    }

    .directionsButton {
        @include MinorButton(#366C7D);
    
        &:hover {
            background-color: #407f92;
        }
    }
    
    .phoneCallButton {
        @include MinorButton(#366C7D);
    
        &:hover {
            background-color: #407f92;
        }
    }
    
    .instagramButton {
        @include MinorButton(#833ab4);
    
        background: #833ab4;
        background: linear-gradient(
            to right,
            #833ab4,#fd1d1d,#fcb045
        );
    
        min-width: 0px;
    }
    
    .facebookButton {
        @include MinorButton(#1877F2);
    
        min-width: 0px;
    }
    
    .twitterButton {
        @include MinorButton(#000000);
    
        min-width: 0px;
    }
    
    .filterWhite {
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(235deg) brightness(104%) contrast(101%);
    }

    p {
        white-space: pre-wrap;
    }
}
