// Button styles

@import "_variables.module.scss";
@import "/styles/_mixins.scss";

@mixin Button($backgroundColor) {
    background-color: transparent;
    color: #FFF;
    border: none;
    height: 3rem;
    width: 100%;

    flex-grow: 1;

    border-radius: 12px;

    cursor: pointer;

    .buttonContents {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include bgImage($backgroundColor);

    transition: .2s;

    &:hover {
        transform: scale(1.01);
    }

}

.primary {
    @include Button($primaryColor);
}

.secondary {
    @include Button($secondaryColor);
}

.tertiary {
    @include Button($tertiaryColour);
    height: 5rem;
}

.glyph {
    margin-right: 0px;
}