// Button styles

@import "_variables.module.scss";
@import "/styles/_mixins.scss";

@mixin Button($backgroundColor) {
    background-color: transparent;
    color: #FFF;
    border: none;
    height: 3rem;
    width: 100%;

    flex-grow: 1;

    border-radius: 12px;

    cursor: pointer;

    .buttonContents {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include bgImage($backgroundColor);

    transition: .2s;

    &:hover {
        transform: scale(1.01);
    }

}

.primary {
    @include Button($primaryColor);
}

.secondary {
    @include Button($secondaryColor);
}

.tertiary {
    @include Button($tertiaryColour);
    height: 5rem;
}

.quad {
    @include Button($quadColor);
    height: 5rem;
}

.directionsButton {
    @include MinorButton(#366C7D);

    &:hover {
        background-color: #407f92;
    }
}

.phoneCallButton {
    @include MinorButton(#366C7D);

    &:hover {
        background-color: #407f92;
    }
}

.instagramButton {
    @include MinorButton(#833ab4);

    background: #833ab4;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
    );

    min-width: 0px;
}

.facebookButton {
    @include MinorButton(#1877F2);

    min-width: 0px;
}

.twitterButton {
    @include MinorButton(#000000);

    min-width: 0px;
}

.filterWhite {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(235deg) brightness(104%) contrast(101%);
}