@import "_variables.module.scss";
@import "/styles/mixins";

.directoryPage {

    padding: 2rem 8rem;

    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;

    @include tablet() {
        padding: 2rem 4rem;

        display: flex;
        flex-direction: column;
    }

    @include mobile() {
        
        padding: 2rem 2rem;
        
        display: flex;
        flex-direction: column;

    }

}

.filteringSection {
    // display: flex;
}

.filterButton {
    @include MinorButton($primaryColor);
    @include bgImage($primaryColor, $opacity: .75);

    max-width: none;
    width: 100%;
}

.buttonObscureLayer {
    color: white;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.buttonContents {

}

.activeFilterButton {
    opacity: 1 !important;
}

.contentSection {

}